body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

h1 {
    text-align: center;
}

/* First image - normal size */
.first-img {

    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

/* Second image - fullscreen */
.second-img {
    width: 100%;
    height: 100vh;        /* Full browser height */
       /* Crop nicely without distortion */
    display: block;
}