@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    background-image: url("images/pic2.jpg");
    background-size: cover;
}
h1 {
    color: red;
    font-size: 100px;
    background-color:black;
    border-right: 2px solid  burlywood;
    padding: 50px;
    margin: 10px;
    width: 100%;
    height: 50%;
    font-family: "Outfit", sans-serif;


}
p{
    color: blue;
    font-weight: bold;
    font-style: italic;
}
.par1{
    color:green;
}
.myspan{
    color:purple;
    text-decoration: underline;

}